/*
 * The following styles follow a mobile first approach
 * 
 * DO NOT adhoc @media width!!!
 * - The following min-widths are supported:
 * - Default (think 320 - No horizonal layout), 480, 600, 768, 992, 1382
 * - If a media query is added or removed MAKE CHANGES TO ALL FILES even if it is not being used.
 */
/*
 * Common lib, mixins, functions etc..
 */
@font-face {
  font-family: 'Helvetica Neue';
  src: url("public/fonts/helvetica_neue_ce_35_thin-webfont.eot");
  src: url("public/fonts/helvetica_neue_ce_35_thin-webfont.eot?#iefix") format('embedded-opentype'), url("public/fonts/helvetica_neue_ce_35_thin-webfont.woff") format('woff'), url("public/fonts/helvetica_neue_ce_35_thin-webfont.ttf") format('truetype'), url("public/fonts/helvetica_neue_ce_35_thin-webfont.svg#helvetica_ce_35_thinregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 * Content inside sections
 */
section {
  margin-top: 40px;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 30px;
  background-color: #e6eeee;
  line-height: 1.3;
}
section h1,
section h2,
section h3,
section h4,
section h5 {
  font-weight: 300;
}
section h1 {
  font-size: 32px;
  margin: 10px 0;
}
section h2 {
  font-size: 20px;
  margin: 8px 0;
}
section h3 {
  font-size: 18px;
  margin: 6px 0;
}
section h4 {
  font-size: 16px;
  margin: 4px 0;
}
section ul {
  margin: 10px 20px;
}
section table {
  width: 100% !important;
}
section img {
  max-width: 100%;
  height: auto;
}
section .spot {
  color: #bc2828;
  font-size: 1.1em;
  font-weight: 400;
}
section .youtube,
section .video-wrap {
  background-color: #dbdbdb;
}
section .clear {
  clear: both;
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1382px) {
}
form label {
  min-width: 120px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
form .field-wrap {
  margin: 4px;
}
form ul {
  margin: 20px 0;
}
form .ninja-forms-required-items {
  margin-bottom: 10px;
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
  form {
    float: left;
    clear: left;
    width: 240px;
  }
  .code-of-conduct {
    margin-left: 270px;
  }
  #references {
    clear: left;
  }
}
@media only screen and (min-width: 992px) {
  form {
    width: 400px;
  }
  .code-of-conduct {
    margin-left: 430px;
  }
}
@media only screen and (min-width: 1382px) {
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/* DEFAULT ============================================================================= */
html {
  height: 100%;
}
body {
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
}
body.mobilemenu {
  position: relative;
  left: 200px;
}
body.mobilemenu nav ul {
  display: block;
/*position: absolute;
		left: -(mobileMenuWidth);*/
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
}
body.mobilemenu nav ul li {
  margin: 4px 0 8px 4px;
}
#main {
  height: 100%;
}
header {
  background-color: #dbdbdb;
}
#mobilemenu {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 34px;
  background: url("../images/menu.png") no-repeat scroll center center rgba(255,255,255,0.9);
  overflow: hidden;
  text-indent: -9999px;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#home {
  display: block;
  overflow: hidden;
  width: 120px;
}
#home img {
  height: 80px;
  width: auto;
}
nav {
  overflow: hidden;
}
nav ul {
  text-align: left;
  display: none;
  color: #fff;
  list-style: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 19px;
}
nav ul li {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
nav ul li:hover {
  text-decoration: underline;
}
nav ul a {
  color: #e91760;
  text-decoration: none;
}
#content {
  overflow: hidden;
}
footer {
  background-color: rgba(208,208,208,0.8);
  overflow: hidden;
  padding: 0 10px;
}
footer .sponsors {
  font-family: 'Helvetica Neue', sans-serif;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 4px;
}
footer .links {
  margin-top: 10px;
  text-align: justify;
/* For IE6 to IE7 since they don't support :after */
  -ms-text-justify: distribute;
  text-justify: distribute;
  text-align-last: justify;
  zoom: 1;
}
footer .links:after {
  content: ".";
  display: inline-block;
  width: 100%;
  height: 0;
  visibility: hidden;
}
footer .links >* {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: left;
  text-align-last: left;
  vertical-align: top;
}
footer img {
  height: 30px;
  width: auto;
}
/* 480 PX ============================================================================= */
@media only screen and (min-width: 480px) {
  #home {
    width: auto;
  }
  footer img {
    height: 40px;
  }
  footer a {
    margin: 0 10px;
  }
}
/* 600 PX ============================================================================= */
@media only screen and (min-width: 600px) {
  footer {
    padding: 0 30px;
  }
  footer .links {
    text-align: center;
  }
}
/* 768 PX ============================================================================= */
@media only screen and (min-width: 768px) {
  .home {
    display: none;
  }
  header {
    overflow: hidden;
    height: 109px;
  }
  a#home {
    position: absolute;
    left: 2%;
  }
  nav ul {
    width: 580px;
    text-align: left;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 26px;
    margin-top: 48px;
    padding-left: 160px;
  }
  nav ul li {
    width: 140px;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  #mobilemenu {
    display: none;
  }
  #content {
    margin: 0 auto 100px auto;
    width: 700px;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  footer h3 {
    position: absolute;
    top: 10px;
  }
}
/* 992 PX ============================================================================= */
@media only screen and (min-width: 992px) {
  nav ul {
    width: auto;
    margin-top: 60px;
  }
  nav ul li {
    width: auto;
    margin: 0 6px;
  }
  #content {
    width: 940px;
  }
}
/* 992 PX ============================================================================= */
@media only screen and (min-width: 1382px) {
  nav ul li {
    font-size: 24px;
  }
  #content {
    width: 1260px;
  }
}
