

columnWidth = 60
gutterWidth = 20

columns(x)
	1px * x * (columnWidth + gutterWidth) - gutterWidth


/*
 * Global Dimensions for use accross Stylus files
 */

mobileFooterHeight = 120px
footerHeight = 60px