@font-face {
	font-family: 'Helvetica Neue';
	src: url('public/fonts/helvetica_neue_ce_35_thin-webfont.eot');
	src: url('public/fonts/helvetica_neue_ce_35_thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('public/fonts/helvetica_neue_ce_35_thin-webfont.woff') format('woff'),
		url('public/fonts/helvetica_neue_ce_35_thin-webfont.ttf') format('truetype'),
		url('public/fonts/helvetica_neue_ce_35_thin-webfont.svg#helvetica_ce_35_thinregular') format('svg');
	font-weight: normal;
	font-style: normal;
}