/*
 * The following styles follow a mobile first approach
 * 
 * DO NOT adhoc @media width!!!
 * - The following min-widths are supported:
 * - Default (think 320 - No horizonal layout), 480, 600, 768, 992, 1382
 * - If a media query is added or removed MAKE CHANGES TO ALL FILES even if it is not being used.
 */

/* DEFAULT ============================================================================= */
section {
	margin-top: 40px;
	font-family: 'Helvetica Neue', sans-serif;
	padding: 30px;
	background-color: mystic;
	line-height: 1.3;

	h1, h2, h3, h4, h5 {
		font-weight: 300;
	}

	h1 {
		font-size: 32px;
		margin: 10px 0;
	}
	h2 {
		font-size: 20px;
		margin: 8px 0;
	}
	h3 {
		font-size: 18px;
		margin: 6px 0;
	}
	h4 {
		font-size: 16px;
		margin: 4px 0;
	}

	ul {
		margin: 10px 20px;
	}

	table {
		width: 100% !important;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.spot {
		color: tallPoppy;
		font-size: 1.1em;
		font-weight: 400;
	}

	.youtube,
	.video-wrap {
		background-color: alto;
	}

	.clear {
		clear: both;
	}
}

/* 480 PX ============================================================================= */
@media only screen and (min-width: 480px) {
	section {
		
	}
}

/* 600 PX ============================================================================= */
@media only screen and (min-width: 600px) {
	section {
	
	}
}

/* 768 PX ============================================================================= */
@media only screen and (min-width: 768px) {
	section {
		
	}
}

/* 992 PX ============================================================================= */
@media only screen and (min-width: 992px) {
	section {
	
	}
}

/* 992 PX ============================================================================= */
@media only screen and (min-width: 1382px) {
	section {
	
	}
}