/*
 * The following styles follow a mobile first approach
 * 
 * DO NOT adhoc @media width!!!
 * - The following min-widths are supported:
 * - Default (think 320 - No horizonal layout), 480, 600, 768, 992, 1382
 * - If a media query is added or removed MAKE CHANGES TO ALL FILES even if it is not being used.
 */

/*
 * Common lib, mixins, functions etc..
 */
@import 'common'

/*
 * Content inside sections
 */
@import 'content'
@import 'forms'

mobileMenuWidth = 200px;
logoHeight = 109px

mobileMenuButtonSize = 40px;


//http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
global-reset()

/* DEFAULT ============================================================================= */
html {
	height: 100%;
	//background-color: alto;
}

body {
	min-height: 100%;
	width: 100%;
	background-color: white;

	// VERY IMPORTANT - for mobile menu
	overflow-x: hidden;
}

body.mobilemenu {
	position: relative;
	left: mobileMenuWidth;
	

	nav ul {
		display: block;
		/*position: absolute;
		left: -(mobileMenuWidth);*/
		position: fixed;
		left: 0;

		top: 0;
		width: mobileMenuWidth;

		li {
			margin: 4px 0 8px 4px;
		}
	}
}

#main {
	height: 100%;
}

#content {
	//background: url('http://at-api.aucklandtransport.govt.nz/imageresizer/website/eeeeee_100x100.png?width=60&margin=0,0,20,0&bgcolor=ffffff');
}

header {
	background-color: alto;
	//text-align: center;
}

#mobilemenu {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 34px;
	background: url("../images/menu.png") no-repeat scroll center center rgba(255, 255, 255, 0.9);
	overflow: hidden;
	text-indent: -9999px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	border-radius: 4px
}

#home {
	display: block;
    overflow: hidden;
    width: 120px;

	img {
		height: 80px;
		width: auto;
	}
}


nav {
	overflow: hidden;
}

nav ul {
	text-align: left;
	display: none;
	//background-color: alto;
	color: white;
	list-style: none;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 19px;

	li {
		position: relative;
		z-index: 1;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	a {
		color: amaranth;
		text-decoration: none;
	}
}

#content {
	overflow: hidden;
}

footer {
	background-color: rgba(208,208,208,.8);
	overflow: hidden;
	padding: 0 10px;

	.sponsors {
		font-family: 'Helvetica Neue', sans-serif;
		inline-block();
		margin: 4px;
	}
	.links {
		margin-top: 10px;
		justify-children(left, top);
	}

	img {
		height: 30px;
		width: auto;
	}
}

/* 480 PX ============================================================================= */
@media only screen and (min-width: 480px) {
	#home {
    	width: auto;
    }
	footer {

		img {
			height: 40px;
		}

		a {
			margin: 0 10px;
		}
	}
}

/* 600 PX ============================================================================= */
@media only screen and (min-width: 600px) {
	footer {
		padding: 0 30px;

		.links {
			text-align: center;
		}
	}
}

/* 768 PX ============================================================================= */
@media only screen and (min-width: 768px) {

	.home {
		display: none;
	}

	header {
		overflow: hidden;
		height: logoHeight;
	}
	
	a#home {
		position: absolute;
		left: 2%;
	}

	/*
	 * Playying to make it "feel right"
	 */
	nav ul {
		width: 580px;
		text-align: left;
		inline-block();
		line-height: 26px;
		margin-top: 48px;
    	padding-left: 160px;

		li {
			width: 140px;
			inline-block();
		}
	}

	#mobilemenu {
		display: none;
	}

	#content {
		margin: 0 auto 100px auto;
		width: columns(9);
	}

	footer {
		h3 {
			position: absolute;
    		top: 10px;
		}

		position: fixed;
		bottom: 0;
		width: 100%;
	}
}

/* 992 PX ============================================================================= */
@media only screen and (min-width: 992px) {
	nav ul {
		width: auto;
		margin-top: 60px;

		li {
			width: auto;
			margin: 0 6px;
		}
	}

	#content {
		width: columns(12);
	}
}

/* 992 PX ============================================================================= */
@media only screen and (min-width: 1382px) {
	nav ul {
		

		li {
			font-size: 24px;
		}
	}

	#content {
		width: columns(16);
	}
}